<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2023 Paranoid Android

     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaomi.settings"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:label="@string/app_title"
        android:icon="@drawable/ic_xiaomiparts"
        android:persistent="true"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:theme="@style/Theme.SubSettingsBase">

        <receiver
            android:name=".BootCompletedReceiver"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".Startup"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".speaker.ClearSpeakerActivity" 
            android:label="@string/clear_speaker_title"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.sound" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/clear_speaker_summary" />
        </activity>

    <!-- TileHandler activity -->
        <activity
            android:name=".TileHandlerActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <!-- Auto HBM activity -->
        <activity
            android:name=".autohbm.AutoHbmActivity"
            android:label="@string/auto_hbm_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/auto_hbm_summary" />
        </activity>

        <!-- Auto HBM service -->
        <service
            android:name=".autohbm.AutoHbmService"
            android:exported="false" />

        <!-- Auto HBM tile service -->
        <service
            android:name=".autohbm.AutoHbmTileService"
            android:label="@string/auto_hbm_title"
            android:icon="@drawable/ic_auto_hbm_tile"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <!--HBM tile service -->
        <service
            android:name=".autohbm.HbmTileService"
            android:label="@string/tile_hbm"
            android:icon="@drawable/ic_hbm_tile"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <activity
    	    android:name=".zram.ZramActivity"
            android:label="@string/zram_size_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.battery" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/zram_summary" />
        </activity>

        <!-- HyperCharge Activity -->
        <activity
            android:name=".hypercharge.HyperChargeSettingsActivity"
            android:label="@string/hypercharge_title"
            android:theme="@style/Theme.SubSettingsBase"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.battery" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/hypercharge_main_switch_title" />
        </activity>

        <!-- HyperCharge Service -->
        <service
            android:name=".hypercharge.HyperChargeService"
            android:exported="false" />

        <!-- HyperCharge QS Tile -->
        <service
            android:name=".hypercharge.HyperChargeTileService"
            android:label="@string/hypercharge_title"
            android:icon="@drawable/ic_qs_hypercharge_on"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <!-- Powertools Activity -->
        <activity
            android:name=".powertools.PowertoolsActivity"
            android:label="@string/Powertools_title"
            android:theme="@style/Theme.SubSettingsBase"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.battery" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/Powertools_summary" />
        </activity>

        <!-- Powertools Quick Settings Tile Service -->
        <service
            android:name=".powertools.PowerProfileTileService"
            android:label="@string/powerprofile_tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:icon="@drawable/ic_thermal_balance"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <!-- Powertool BootReceiver -->
        <receiver android:name=".powertools.PowertoolBootReceiver"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- Thermal Profiles tile service -->
        <service
            android:name=".thermal.ThermalTileService"
            android:label="@string/thermal_tile_label"
            android:icon="@drawable/ic_thermal_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

    </application>
</manifest>